.contacts-component {
  padding: 50px 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.contacts__map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contacts__map-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts__map-btn {
  
  margin: auto;
  margin-bottom: 10px;
}
.feedback__form {
  font-family: 'Marmelad', Arial, Helvetica, sans-serif !important;
  width: 30%;
  padding: 40px;
  min-width: 330px;
  box-sizing: border-box;
}
.feedback__form-title {
  font-size: 1.3em;
  text-align: center;
  margin: 0;
  color: #5C5C5C;
}
.feedback__field {
  font-family: 'Marmelad', Arial, Helvetica, sans-serif !important;
  margin: 10px 0 !important;
  width: 100% !important;
}
.feedback__btn {
  margin: 20px auto 0 auto;
  display: block !important;
  font-family: 'Marmelad', Arial, Helvetica, sans-serif !important;
}
.contacts__contacts-block {
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
  font-size: 1.3em;
}
.vk_groups {
  margin: auto;
}
.contacts__contacts-info {
  text-align: center;
  margin-bottom: 10px;
}
.contacts__contacts-info li {
  line-height: 1.5em;
}
.vk-group-item {
  color: #F7ADAF;
  font-family: 'Marmelad', Arial, Helvetica, sans-serif !important;
  text-decoration: none;
}
.contacts__our-info {
  margin: 0 0 5px 0;
  text-align: center;
  white-space: pre-wrap
}
.contacts__contact-ico {
  width: 20px;
}
.feedback__submit-btn {
  width: 100%;
  height: 100%;
  opacity: 0;
}