.services-component {
  display: flex;
  box-sizing: border-box;
  min-height: calc(100vh - 50px);
  padding: 50px;
  align-items: stretch;
	flex-flow: row wrap;
	justify-content: space-around;
}
.services__frame-component {
  width: 45%;
  padding: 30px 20px;
  margin: 20px;
  font-family: 'Marmelad', Arial, Helvetica, sans-serif !important;
}
.services__frame-table {
  width: 100%;
  background: none !important;
  font-family: 'Marmelad', Arial, Helvetica, sans-serif !important;
}
.services__frame-list-item {
  text-align: center;
}
.services__frame-title {
  font-size: 1.7em !important;
  font-weight: normal !important;
  text-align: center;
  padding: 0 !important;
  display: flex;
  align-items: center;
	flex-flow: row wrap;
  justify-content: space-around;
}
.service__frame-service {
  width: 50% ;
  white-space: normal !important;
  overflow: auto !important;
  font-size: 1em !important;
}
.services__title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service__frame-price {
  width: 25%;
  text-align: center !important;
  font-size: 1em !important;
}
.services__frame-images {
  height: 60px;
}