.aboutus-component {
  padding: 50px;
  background-image: url('../../images/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  
  box-shadow: inset 0px 15px 10px 0px rgba(255, 255, 255, 1);
  flex-direction: column;
}
.aboutus__main_text {
  text-align: center;
  font-size: 1.3em;
}
.aboutus__list {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.8em;
}
.aboutus__list-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  color: #414141;
  margin-top: 30px; 
	flex-flow: row wrap;
}
.aboutus__left-block {
  width: 45%;
  padding: 10px 40px 40px 40px;
  min-width: 400px;
  margin-bottom: 30px;
  font-family: 'Marmelad', Arial, Helvetica, sans-serif !important;
}
.aboutus__right-block {
  width: 45%;
  padding: 10px 40px 40px 40px;
  min-width: 400px;
  margin-bottom: 30px;
  font-family: 'Marmelad', Arial, Helvetica, sans-serif !important;
}
.aboutus__block-title {
  text-align: center;
  font-size: 1.5em;
}