.header__nav-menu-mobile {
    position: absolute !important;
    right: 10px;
    top: 5px;
}
.header__nav-menu-mobile button {
    width: 60px !important;
}
.header__nav-menu-mobile svg {
    width: 35px !important;
    height: 35px !important;
    color: #fff !important;
}
.header__mob-nav-item>div>span>div>div {
  color: #000 !important;
  font-size: 1em !important;
  padding: 0 25px !important;
}